@{
    ViewData["Title"] = "Добро пожаловать";
}
<link rel="stylesheet" href="~/css/HomeStyle.css" />

<div class="card">
    <div class="floating-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="content">
        <div>
            <h1>Добро пожаловать на нашу платформу heelo</h1>
            <p>
            Мы рады видеть вас здесь!<br />
            Для получения дополнительной информации о нашей работе, посетите наш сайт:<br />
            </p>

            <div class="links-container">
                <a href="https://siriuseg.vercel.app/" target="_blank">Sirius – официальный сайт</a>
                <a href="https://codixa.vercel.app/" target="_blank">Codixa – образовательная платформа</a>
            </div>
        </div>
    </div>
</div>

<script>

</script>